
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 25rem) { @content };   
    }

    @if $breakpoint == miniphone {
        @media only screen and (max-width: 19.5rem) { @content };   
    }

}

html {
    @include respond(phone) {
        .card {
            height:auto;
            // height:70%;
            width:90%;

            .rating-state {
                .rates {
                    width:100%;
                    justify-content:space-between;
                    align-items: center;
                    // flex-wrap: wrap;
            
                    &>* {
                    padding:.6rem;
                    }
        
            }    
            }

            .thank-you-state {
                .title {
                    width:90%;
                }
            }
    }
    }

    @include respond(miniphone) {
        .card {
            font-size: 90%;
            height:auto;
            width:90%;

            .rating-state {
                .rates {
                    width:100%;
                    justify-content:space-between;
                    align-items: center;
                    flex-wrap: wrap;
            
                    &>* {
                        padding:0.4rem;
                    }
            }    
            }

            .thank-you-state {
                .title {
                    width:90%;
                    padding:0.2rem;
                }
            }
    }
    }
}
